@charset "UTF-8";
.catalogue-page {
  min-height: 680px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
}

.search-and-titles {
  height: -moz-fit-content;
  height: fit-content;
}

.filters-wraper {
  height: 550px;
  background-color: rgba(6, 75, 140, 0.8);
  width: 300px;
  border-radius: 6px;
  grid-column: 1/2;
  position: sticky;
  left: 0;
  top: 75px;
}

.filter-header {
  width: inherit;
  height: 50px;
  border-bottom: 2px solid #3ce3e8;
  margin-bottom: 50px;
  padding-left: 15px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.filter-header .close-mobile-filter {
  background-color: #05315a;
  border-radius: 3px;
  border: 1px solid #3ce3e8;
  width: 30px;
  height: 30px;
}
.filter-header h3 {
  font-size: 22px;
  text-align: center;
}

.filter-wraper {
  height: 75px;
  margin-bottom: 35px;
}

.filter-label {
  font-size: 20xp;
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
}

.filter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: visible;
  position: relative;
}
.filter .filter-toggle {
  border: 1px solid #3ce3e8;
  background-color: #05315a;
  height: 50px;
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  border-radius: 5px;
  width: 290px;
  cursor: pointer;
  transition: 0.3s;
}
.filter .filter-toggle img {
  position: relative;
  top: 3px;
}

.filter-values {
  display: inline-flex;
  height: 50px;
  font-size: 18px;
  text-align: start;
  padding-top: 12px;
  padding-left: 10px;
  width: 85%;
}

.text-left {
  text-align: left;
}

.filter-content {
  display: flex;
  flex-direction: column;
  width: 290px;
  background-color: #05315a;
  border-radius: 0 0 5px 5px;
  position: relative;
  z-index: 10;
  transition: 0.6s;
  overflow: hidden;
}

.filter-search {
  background-color: inherit;
  border: 1px solid white;
  outline: none;
  padding-left: 5px;
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  min-height: 30px;
  max-height: 30px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.filter-list::-webkit-scrollbar {
  width: 5px; /* ширина scrollbar */
  padding-right: 10px;
}

.filter-list::-webkit-scrollbar-track {
  width: 10px;
  background: #05315a;
}

.filter-list::-webkit-scrollbar-thumb {
  background-color: #2179df; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
}

.filter-option {
  display: inline-flex;
  width: 100%;
  height: 30px;
  font-size: 18px;
  align-items: center;
  padding-left: 5px;
  background-color: inherit;
  border: none;
  color: white;
  cursor: pointer;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.filter-option .option-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.filter-option .option-checkbox.inactive {
  background-color: #3ce3e8;
}
.filter-option .option-checkbox.add-option {
  background-color: #2eaf79;
}
.filter-option .option-checkbox.remove-option {
  background-color: #e83c3c;
}
.filter-option .option-checkbox.add-option::after {
  content: url("../img/filer-checked.svg");
}
.filter-option .option-checkbox.remove-option::after {
  content: url("../img/filter-cross.svg");
  position: relative;
  bottom: 2px;
  left: 2px;
}
.filter-option .filter-desc {
  display: inline-block;
}

.filter-option:hover {
  background-color: #021e38;
}

.not-found-error {
  color: rgb(243, 38, 38);
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}

.titles-wraper {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 1280px;
  border-radius: 6px;
  background-color: rgba(6, 75, 140, 0.8);
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 10px 20px;
  min-height: 760px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 1280px;
}

.filter-span {
  margin-bottom: 30px;
  height: 42px;
  text-align: center;
  line-height: 25px;
}

.filter-slider-wraper {
  display: flex;
  flex-direction: column;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.filter-slider {
  margin-bottom: 10px;
}

.filter-button-wraper {
  width: 100%;
  height: 75px;
  border-top: 2px solid #3ce3e8;
  margin-top: auto;
  margin-top: 35px;
  padding-top: 11px;
  padding-left: 50px;
}
.filter-button-wraper .filter-button {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
  width: 200px;
  height: 50px;
  background-color: #3ce3e8;
  color: black;
  font-size: 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.filter-button-wraper .filter-button:hover {
  background-color: #39f3fa;
}

.slider-pips {
  display: flex;
  width: 92%;
  gap: 9px;
  margin-left: auto;
  margin-right: auto;
}
.slider-pips .pip-horisontal {
  background-color: #fff;
  width: 5px;
  height: 10px;
}
.slider-pips .pip-horisontal.big {
  width: 5px;
  height: 20px;
  background-color: #fff;
}

.slider-line {
  top: -5px;
  width: 100%;
  height: 5px;
  width: 95%;
  height: 4px;
  border-radius: 6px;
  background-color: #3ce3e8;
  margin-left: auto;
  margin-right: auto;
}

.slider-track-0,
.slider-track-2 {
  position: relative;
  bottom: 0;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
}

.slider-thumb {
  background-color: #05315a;
  color: #05315a;
  width: 20px;
  height: 30px;
  text-align: center;
  top: -35px;
  padding-top: 5px;
  border-radius: 2px;
  top: -18px;
  border: 1px solid #3ce3e8;
  cursor: grab;
}

.slider-thumb:focus {
  cursor: grabbing;
}

.thumb-content {
  display: inline-flex;
  position: relative;
  bottom: 35px;
  right: 10px;
  background: #3ce3e8;
  background-size: 40px;
  border-radius: 3px;
  padding: 2px;
}

.catalogue-search {
  width: 1280px;
  background-color: rgba(6, 75, 140, 0.8);
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalogue-search .input-title {
  width: 1200px;
  border-bottom: none;
  outline: none;
}

.mobile-button-filter {
  display: none;
}

@media (max-width: 1100px) {
  body .filters-wraper {
    position: absolute;
  }
  body .filters-wraper.closed {
    display: none;
  }
  body .filters-wraper.open {
    display: block;
    position: fixed;
    top: 10vh;
    left: 15vw;
    z-index: 1000000;
    background-color: rgb(6, 75, 140);
    color: white;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  }
  .catalogue-page {
    display: block;
  }
  .catalogue-page .catalogue-search {
    width: 90vw;
  }
  .catalogue-page .title-main {
    width: 90%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .catalogue-page .search-and-titles {
    width: 90vw;
  }
  .catalogue-page .titles-wraper {
    width: 90vw;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 5px;
    align-items: center;
  }
  .catalogue-page .input-title {
    display: block;
  }
  .mobile-button-filter {
    display: block;
    width: 90vw;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #05315a;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #39f3fa;
    font-size: 20px;
  }
  .mobile-button-filter:active {
    scale: 1.05;
  }
  .background {
    width: 1000px;
    height: 1000px;
    background-color: #05315a;
    position: fixed;
    top: 0;
    z-index: 100000;
    opacity: 0.7;
  }
}/*# sourceMappingURL=catalogue-page.css.map */