@charset "UTF-8";
.mobile-menu-wraper {
  width: 100%;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.mobile-menu-wraper.hide .mobile-menu {
  transform: translateX(-100vw);
}

.mobile-menu {
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  background-color: #0e4381;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.6s;
  z-index: 1000000;
  animation: menu-appear 0.5s;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.mobile-menu.hide {
  animation: menu-disappear 0.6s;
}

.mobile-menu-background {
  animation: background-appear 0.5s;
  filter: grayscale(1);
}

.menu-profile {
  width: 100%;
  background-color: #3ce3e8;
  padding: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-profile span {
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  text-wrap: pretty;
}
.menu-profile .menu-link {
  color: #05315a;
  text-decoration: none;
  font-size: 18px;
  text-wrap: nowrap;
}
.menu-profile h2 {
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
  color: black;
}
.menu-profile a {
  text-decoration: none;
}

.menu-profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.menu-navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.menu-navigation .menu-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  animation-name: link-appear;
  animation-duration: 1s;
}
.menu-navigation a:nth-child(1) {
  animation-duration: 0.6s;
}
.menu-navigation a:nth-child(2) {
  animation-duration: 0.7s;
}
.menu-navigation a:nth-child(3) {
  animation-duration: 0.8s;
}
.menu-navigation a:nth-child(4) {
  animation-duration: 0.9s;
}
.menu-navigation a:nth-child(5) {
  animation-duration: 1s;
}
.menu-navigation a:nth-child(6) {
  animation-duration: 1s;
}
.menu-navigation a:nth-child(6) {
  animation-duration: 1s;
}
.menu-navigation .active {
  display: flex;
  align-items: center;
}
.menu-navigation .active::before {
  content: "";
  height: 40px;
  width: 8px;
  border-radius: 5px;
  background-color: #3ce3e8;
  margin-right: 10px;
}

.menu-logo {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

.mobile-menu-background.hide {
  animation-name: background-disappear;
  animation-duration: 0.6s;
}

.mobile-close {
  display: block;
}

.mobile-close-button {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 60px;
  right: 25px;
  z-index: 10000000;
  border-radius: 50%;
  background: none;
  border: 1px solid #3ce3e8;
  animation-name: button-appear;
  animation-duration: 0.5s;
}

.palka {
  width: 2px;
  height: 30px;
  position: relative;
  top: 4px;
  background-color: #3ce3e8;
  border-radius: 10px;
  rotate: 45deg;
  display: inline-block;
  left: 0;
}

.palka.second {
  rotate: -45deg;
  left: -1px;
}

.mobile-close.hide .mobile-close-button {
  animation-name: button-disappear;
  animation-duration: 0.5s;
  transform: translateX(100px);
}

.menu-buttons {
  display: flex;
  justify-content: space-between;
}

.menu-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: none;
  border: 1px solid #3ce3e8;
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: button-appear 1s;
}
.menu-button span {
  display: inline-block;
  position: relative;
  top: 40px;
  width: 80px;
}

.menu-button-img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 15px;
}

.mobile-close-button::after {
  content: "Закрыть";
  color: #3ce3e8;
  font-size: 16px;
  position: relative;
  top: 10px;
  right: 12px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

@keyframes menu-appear {
  0% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(0);
  }
}
@keyframes background-appear {
  0% {
    filter: grayscale(0);
    opacity: 0;
  }
  100% {
    opacity: 0.7;
    filter: grayscale(1);
  }
}
@keyframes background-disappear {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes menu-disappear {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
@keyframes link-appear {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes button-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes button-disappear {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}/*# sourceMappingURL=mobileMenu.css.map */