.feedback {
  position: absolute;
  background-color: rgba(5, 49, 90, 1);
  top: 150px;
  z-index: 100000000;
  max-width: 990px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3ce3e8;
}
.feedback-modal {
  margin: 0 auto;
  max-width: 1000px;
  color: white;
  top: 0px;
}
.feedback-titile {
  margin-bottom: 10px;
  font-size: 25px;
}
.feedback-textarea {
  max-height: 200px;
  max-width: 970px;
  width: inherit;
  height: 100px;
  margin-bottom: 5px;
  padding: 5px;
  outline: none;
}
.txt-prt {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 19px;
}
.feedback-button-wrapper {
  display: block;
}
.feedback-button {
  transform: rotate(-90deg);
  border: 1px solid #3ce3e8;
  background-color: #05315a;
  color: white;
  width: 120px;
  height: 50px;
  padding: 3px;
  font-size: 13px;
  position: fixed;
  top: 200px;
  left: -90px;
  font-family:
    Century Gothic,
    CenturyGothic,
    AppleGothic,
    sans-serif;
  cursor: pointer;
  transition: 0.6s;
}
.feedback-button:hover,
.feedback-button:active {
  left: -40px;
  .feedback-button-img {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px) rotate(90deg);
  }
}
.feedback-button-img {
  transform: rotate(90deg);
  border: 1px solid #3ce3e8;
  border-left: none;
  background-color: #05315a;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-top: 14px;
  transition: 0.2s;
  padding-left: 10px;
}
