@import "../../stylsheet.scss";

.main {
  width: 70vw;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}
.season-anime {
  max-width: 70vw;
  .season-titles {
    padding-top: 20px;
  }
  .season-anime-title {
    margin-bottom: 25px;
  }
  .season-anime-title::before {
    content: url(../img/season.svg);
    margin-right: 10px;
    position: relative;
    top: 3px;
  }
}
.season-titles,
.recently-added-titles {
  max-width: fit-content;
  height: 440px;
  background-color: $background-trans;
  padding: 0 20px 20px 20px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.recetly-added-title {
  margin-bottom: 20px;
}
.recently-added-anime {
  .recetly-added-title::before {
    content: url("../img/ph_newspaper-fill.svg");
    position: relative;
    top: 13px;
    right: 10px;
  }
}
.recently-added-titles {
  height: fit-content;
  background: none;
  display: flex;
  align-content: flex-start;
  max-width: 1370px;
  justify-content: space-between;
}
.devider {
  height: 2px;
  width: 280px;
  background-color: $base-light-blue;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.ad {
  position: fixed;
  right: 25px;
  top: 220px;
  display: none;
}
@media (max-width: 1100px) {
  .season-anime {
    height: fit-content;
    width: 100%;
    min-width: 0;
    margin: 0 auto;
  }
  .season-titles {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .season-titles {
    height: fit-content;
    overflow: hidden;
    align-items: center;
    width: 100%;
    padding: 0;
    padding-top: 5px;
    background: none;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
  }
  .season-title {
    height: 150px;
    width: 100%;
  }
  .recently-added-anime {
    width: 100%;
    height: fit-content;
  }
  .recently-added-titles {
    row-gap: 10px;
    margin-top: 30px;
    justify-content: space-around;
  }
  .recetly-added-title {
    margin-left: 15px;
  }
}
