@import "../../stylsheet.scss";

.title-main {
  width: 200px;
  transition: 0.5s;
  height: 410px;
  overflow: hidden;

  span {
    font-size: 14px;
  }
  .poster {
    z-index: 1;
    position: relative;
    transition: 0.3s;
    margin-top: auto;
    margin-bottom: auto;
    height: 290px;
    width: 200px;
    object-fit: fill;
  }
  .name {
    display: inline-block;
    font-size: 16px;
    max-width: 170px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    z-index: 2;
    cursor: help;
    max-height: 45px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
  }
  .name:hover {
    color: $base-light-blue;
  }
  .status,
  .age-rest {
    background-color: $base-light-blue;
    position: absolute;
    z-index: 1000;
    color: black;
    padding: 4px;
    font-size: 14px;
    transition: 0.4s;
  }
  .age-rest {
    align-self: flex-end;
  }
}
.title-poster-wraper:hover {
  .poster {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    scale: 1.03;
  }
  .status,
  .age-rest {
    opacity: 0;
  }
}
.title-poster-wraper:hover {
  .play-button-wraper {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    cursor: pointer;
  }
  .play-button-wraper::after {
    content: url("../img/play-button-svgrepo-com.svg");
    display: inline-block;
    -webkit-filter: brightness(130%);
    filter: brightness(130%);
    position: relative;
    top: 120px;
    left: 65px;
  }
}
.title-poster-wraper {
  height: 290px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: $base-dark-blue;
}
.title-type,
.title-year {
  display: none;
}
.title-name-tags {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  height: 120px;
  .title-name {
    height: fit-content;
    max-height: 45px;
    font-size: 18px;
    overflow-wrap: break-word;
    line-break: normal;
    max-width: 190px;
  }
  .title-tags {
    height: fit-content;
    overflow-wrap: break-word;
    .tag {
      color: $base-light-blue;
      text-decoration: none;
    }
  }
}
.title-episodes {
  position: relative;
  font-size: 14px;
}
.search-result-title {
  display: block;
  height: 125px;
  width: 100%;
  margin: 0;
  .title-status,
  .age-rest {
    display: none;
  }
  .title-poster-wraper {
    width: 100px;
    height: 125px;
    margin-left: 0;
    .title-poster {
      width: 100px;
      height: 125px;
    }
  }
  .tag {
    margin-left: 0;
  }
}
.search-result-title:hover {
  .play-button-wraper {
    display: none;
  }
  .poster {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    scale: 1.03;
  }
}
.catalogue-page {
  .titles-wraper {
    .catalogue-page-title {
      width: 190px;
    }
  }
}
@media (max-width: 1100px) {
  .title-main {
    display: flex;
    background-color: $background-trans;
    height: 150px;
    .title-poster-wraper {
      width: 100px;
      height: 150px;
      display: flex;
      margin-right: 10px;
    }
    .poster {
      width: 100px;
      height: 150px;
      position: absolute;
    }
    .status {
      font-size: 12px;
      padding: 3px;
    }
    .age-rest {
      display: none;
    }
    .name {
      font-size: 18px;
      max-width: 220px;
      font-weight: 700;
      max-height: 55px;
    }
  }
  .title-name-tags {
    display: flex;
    padding-top: 15px;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .title-episodes {
    position: static;
  }
  .season-title {
    width: 260px;
  }
  .recently-added {
    width: 155px;
    height: 400px;
    display: flex;
    flex-direction: column;
    .title-poster-wraper {
      width: 100%;
      height: 100%;
      margin-right: 0;
      .poster {
        position: relative;
        width: 100%;
        max-width: 155px;
        height: 240px;
        object-fit: fill;
      }
    }
  }
  .title-main:hover::after {
    display: none;
  }
  .title-main:hover {
    scale: 1.03;
    .poster {
      -webkit-filter: brightness(100%);
      filter: brightness(100%);
    }
  }
}
