@import "../../stylsheet.scss";

.profile {
  width: 40vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: $background-trans;
  height: 60vh;
  margin-top: 20px;
  border: 1px solid $base-light-blue;
  border-radius: 10px;
  overflow: hidden;
  max-width: 1350px;
}
.profile-head-background {
  width: 40vw;
  height: 150px;
  object-fit: cover;
  margin-bottom: 40px;
}
.prof-pic-wrap {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid $base-light-blue;
  overflow: hidden;
  position: absolute;
  top: 235px;
  left: 600px;
}
.profile-pic {
  margin-left: 0;
  width: 100px;
  height: 100px;
  object-fit: fill;
}
