@import "../../stylsheet.scss";

.signup {
  display: flex;
  height: 665px;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  width: 24vw;
}
.signup-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(5, 49, 90, 0.6);
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 500px;
  .form-input {
    background-color: $base-dark-blue;
    border: 1px solid $base-light-blue;
    width: 330px;
    height: 50px;
    display: inline-block;
    color: white;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  .from-submit {
    background-color: $base-light-blue;
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:
      Century Gothic,
      CenturyGothic,
      AppleGothic,
      sans-serif;
    cursor: pointer;
  }
}
.form-title {
  margin-bottom: 30px;
  margin-top: 10px;
}
.input-wrapper {
  margin-bottom: 15px;
}
.error-message-input {
  color: rgb(243, 38, 38);
  margin-top: 10px;
}
.personal-info {
  display: flex;
  width: 450px;
  margin: 0 auto;
  font-size: 16px;
  user-select: none;
}
.personal-info-cb {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
@media (max-width: 1100px) {
  .signup {
    width: 95vw;
  }
}
