@import "../../../stylsheet.scss";

.pagination-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}
.pagination-load-more {
  width: 50vw;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid $base-light-blue;
  background-color: $base-dark-blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 50%;
}
.catalogue-pagination {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 10px;
  max-width: 90vw;
}
.pagination-button {
  width: 30px;
  height: 30px;
  border: 1px solid $base-light-blue;
  background-color: $base-dark-blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding-top: 4px;
  font-size: 16px;
  min-height: 30px;
}
.pagination-button.active {
  background-color: $base-light-blue;
  color: black;
  cursor: auto;
}
.pagination-button:disabled {
  padding-top: 0;
  cursor: auto;
}
