.header {
  margin-top: 40px;
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  border-top: 2px solid #3ce3e8;
  border-bottom: 2px solid #3ce3e8;
  align-items: center;
  font-family: "Inter", sans-serif;
  justify-content: center;
  gap: 25px;
  a {
    color: white;
    font-style: normal;
    font-size: 22px;
    text-decoration: none;
    margin-left: 20px;
  }

  margin-bottom: 40px;
  .active {
    color: #0e1df3;
  }
}
.header-mobile-menu {
  display: none;
}
.logo {
  width: max-content;
  height: 70px;
  display: flex;
}
.logo::before {
  content: " ";
  width: 10px;
  background-color: #3ce3e8;
  height: 36px;
  border-radius: 3px;
  position: relative;
  top: 18px;
}
.img-background {
  background-color: #3ce3e8;
  scale: 1.2;
  border-radius: 6px;
  box-shadow: 0.5px 1px 0 1px rgba($color: #000000, $alpha: 0.2);
  z-index: 10000;
}
.logo-img {
  scale: 0.8;
  align-items: center;
  justify-self: center;
  width: 55px;
  height: 70px;
  z-index: 10000;
}
.logo-title {
  color: #333;
  background-color: #3ce3e8;
  align-self: center;
  font-size: 18px;
  border-radius: 3px;
  padding: 5px;
  width: 135px;
  text-align: end;
  padding-right: 10px;
  font-family: "Atomic Age", cursive;
}
.input-title {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 220px;
  height: 40px;
  color: white;
  font-size: 23px;
}
.header-profile {
  margin-left: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-name {
  font-size: 22px;
  text-align: center;
}
.profile-pic {
  height: 50px;
  width: 50px;
  margin-left: 15px;
}
.aunth-buttons {
  margin-left: 10px;
  a {
    margin-left: 20px;
  }
}
@media (max-width: 1100px) {
  .header-mobile-menu {
    display: inline-flex;
  }
  .input-title,
  .nav-buttons,
  .aunth-buttons {
    display: none;
  }
}
