@import "../../stylsheet.scss";

.header {
  margin-top: 25px;
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  border-top: 2px solid $base-light-blue;
  border-bottom: 2px solid $base-light-blue;
  align-items: center;
  font-family: "Inter", sans-serif;
  justify-content: center;
  gap: 25px;
  top: 0;
  z-index: 100000;
  opacity: 1;
  transition:
    border 0s,
    all 0.5s ease-in-out;
  a {
    color: white;
    font-style: normal;
    font-size: 22px;
    text-decoration: none;
    margin-left: 20px;
  }

  margin-bottom: 40px;
  .active {
    background-color: $base-light-blue;
    color: #000000;
  }
}
.header-mobile-button {
  display: none;
}
.nav-buttons {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  a {
    display: inline-flex;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
  }
  a:hover {
    background-color: $base-light-blue;
    color: #000000;
  }
}
.off-screen-fixed {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color: rgba(6, 75, 140, 0.9);
  border-top: none;
  height: 55px;
  .img-background {
    scale: 1.1;
  }
  .logo {
    height: 45px;
    .logo-img {
      scale: 0.9;
      height: 45px;
      width: 45px;
    }
  }
  .logo::before {
    top: 5px;
  }
}
.header-mobile-menu {
  display: none;
}
.logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 70px;
  display: flex;
  transition: 0.3s;
}
.logo::before {
  content: " ";
  width: 10px;
  background-color: $base-light-blue;
  height: 36px;
  border-radius: 3px;
  position: relative;
  top: 18px;
  transition: 0.3s;
}
.img-background {
  background-color: $base-light-blue;
  scale: 1.2;
  border-radius: 6px;
  box-shadow: 0.5px 1px 0 1px rgba($color: #000000, $alpha: 0.2);
  z-index: 10000;
}
.logo-img {
  scale: 0.8;
  align-items: center;
  justify-self: center;
  width: 55px;
  height: 70px;
  z-index: 10000;
}
.logo-title {
  color: #333;
  background-color: $base-light-blue;
  align-self: center;
  font-size: 18px;
  border-radius: 3px;
  padding: 5px;
  width: 135px;
  text-align: end;
  padding-right: 10px;
  font-family: "Atomic Age", cursive;
}
.search-wraper {
  display: flex;
  flex-direction: column;
}
.input-title {
  background: none;
  border: none;
  border-bottom: 1px solid $base-light-blue;
  width: 220px;
  height: 40px;
  color: white;
  font-size: 23px;
  padding: 5px;
  transition: 0.5s;
}
.input-title:focus {
  outline: none;
  background-color: $base-light-blue;
  color: black;
  border-radius: 5px;
}
.search-result-wraper {
  width: 300px;
  height: 0;
  opacity: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: $background-trans;
  z-index: 100000;
  margin-top: 50px;
  margin-left: -50px;
  transition: 0.2s;
  a:last-of-type {
    margin-bottom: 10px;
  }
  .search-result-title {
    display: flex;
    margin: 0;
    padding: 5px;
    .title-name-tags {
      width: 100%;
      padding-left: 10px;
    }
  }
  .search-result-title:hover {
    background-color: rgba(6, 75, 140, 1);
  }
}

.search-result-wraper.unfiend {
  opacity: 1;
  height: fit-content;
  color: rgb(243, 38, 38);
  font-weight: 800;
  font-size: 18px;
  padding: 10px;
}
.search-wraper.hide {
  .search-result-wraper {
    display: none;
  }
}
.header-search-button {
  background-color: $background-trans;
  border: 1px solid $base-light-blue;
  height: 50px;
  color: white;
  font-size: 16px;
}
.header-profile {
  margin-left: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-name {
  font-size: 22px;
  text-align: center;
}
.profile-pic {
  height: 50px;
  width: 50px;
  margin-left: 15px;
}
.aunth-buttons {
  margin-left: 10px;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  a {
    display: inline-flex;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
    margin-left: 20px;
  }
  a:hover {
    background-color: $base-light-blue;
    color: #000000;
  }
}
.up-button {
  position: fixed;
  right: 95px;
  bottom: 200px;
  width: 50px;
  height: 50px;
  background-color: $base-dark-blue;
  border: 1px solid $base-light-blue;
  border-radius: 50%;
  animation-name: appear-button;
  animation-duration: 0.5s;
  cursor: pointer;
}
.up-button-arrow {
  width: 30px;
  height: 30px;
}

@media (max-width: 1100px) {
  .header {
    justify-content: space-evenly;
  }
  .header-mobile-button {
    display: inline-flex;
    background: rgba(86, 86, 86, 0.6);
    border: none;
    outline: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    transition: 1s;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    border: 1px solid $base-light-blue;
    background-color: $base-dark-blue;
    color: white;
    font-family:
      Century Gothic,
      CenturyGothic,
      AppleGothic,
      sans-serif;
    border-radius: 5px;
    img {
      position: relative;
      bottom: 13px;
      left: -5px;
    }
  }
  .header-mobile-button.mobile-menu-open {
    align-self: flex-start;
    transition: 1s;
    transform: translateX(700%);

    .line-burger2 {
      width: 35px;
      transform: rotate(45deg) translateY(-3px);
    }
  }
  .header-mobile-button:active,
  .mobile-menu-open:active {
    scale: 1.5;
  }
  .incative:disabled {
    filter: grayscale(1);
    scale: 1;
  }
  .input-title,
  .nav-buttons,
  .aunth-buttons,
  .header-profile {
    display: none;
  }
  .mobile-menu {
    position: relative;
  }
  .line-burger {
    width: 32px;
    height: 3px;
    background-color: $base-light-blue;
    border-radius: 2px;
  }
  .mobile-header-search {
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80vw;
    background-color: $background-trans;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 30px;
    color: white;
  }
}
@keyframes searchApper {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: fit-content;
  }
}
@keyframes appear-button {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
