@import "./stylsheet.scss";

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic.woff2");
  src: url("../fonts//CenturyGothic.eot");
  src: url("../fonts/CenturyGothic.woff");
  src: url("../fonts/CenturyGothic.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-color: #2179df;
  transition: 1s;
  font-family:
    Century Gothic,
    CenturyGothic,
    AppleGothic,
    sans-serif;
  color: white;
  max-width: 100vw;
  max-height: fit-content;
  margin-left: 0px;
  overflow-x: hidden;
}
body:before {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background: url("./components/img/bacground19201080.webp") no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body::-webkit-scrollbar {
  width: 10px; /* ширина scrollbar */
  padding-right: 10px;
}
body::-webkit-scrollbar-track {
  width: 100px;
  background: steelblue;
}
body::-webkit-scrollbar-thumb {
  background-color: #2179df; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  width: 10px;
}

.okami {
  color: white;
  font-family:
    Century Gothic,
    CenturyGothic,
    AppleGothic,
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1350px;
  margin: 0 auto;
  margin-bottom: 20px;
  min-height: 60vh;
  overflow: hidden;
  transition: 0.3s;
}
.captcha-window {
  position: absolute;
  top: 50%;
  left: 42%;
  z-index: 1000000;
}
.background {
  width: 10000px;
  height: 10000px;
  background-color: $base-dark-blue;
  position: fixed;
  top: 0;
  z-index: 100000;
  opacity: 0.7;
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-fallback {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #2179df; /* Black */
  border-radius: 50%;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15%;
}
@media (min-width: 1100px) {
  .okami {
    min-height: 80vh;
    max-width: 1350px;
  }
}
