:root {
  --element-count: var(--element-count);
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: rgba(5, 49, 90, 0.6);
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #2179df;
  border-radius: 20px;
}
.title {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(5, 49, 90, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  height: fit-content;
  padding: 15px;
}
.title-info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  height: min-content;
  .poster-wraper {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .select-wrapper {
    width: 300px;
    height: 50px;
    .select-trigger,
    .option {
      width: 300px;
      height: 50px;
      background-color: #05315a;
      border: none;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding-left: 30px;
      border-bottom: 1px solid #3ce3e8;
      padding-right: 5px;
      z-index: 10000;
      position: relative;
      cursor: pointer;
      transition: 0.3s;
      .option:hover {
        background-color: #0864b9ab;
      }
      .trigger-content,
      .option-content {
        display: flex;
        align-items: center;
        color: white;
        font-size: 18px;
        width: 200px;
        font-weight: 400;
        height: 30px;
        font-family:
          Century Gothic,
          CenturyGothic,
          AppleGothic,
          sans-serif;
        justify-content: flex-start;
      }
      .option-line {
        width: 2px;
        height: 30px;
        background-color: #42acfa;
      }
      .option-img {
        width: 40px;
        height: 30px;
        align-self: flex-end;
        margin-left: auto;
        fill: white;
      }
    }
    .option {
      background-color: #064b8cf2;
      transition: 0.3s;
    }
    .option:hover {
      background-color: #05315a;
    }
  }
  .select-options {
    overflow: hidden;
    transition: 0.6s;
  }
  .title-text-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    font-size: 19px;
    height: fit-content;
    .title-name {
      font-size: 35px;
    }
    .title-alt-name {
      font-size: 20px;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
.title-desc {
  display: inline-block;
  max-width: 970px;
  width: fit-content;
  white-space: pre-line;
  margin-bottom: 15px;
}
.view-order-wraper {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  z-index: 1000;
  .view-order-trigger {
    width: 300px;
    height: 50px;
    background-color: #05315a;
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 30px;
    border-bottom: 1px solid #3ce3e8;
    padding-right: 5px;
    z-index: 1000;
    position: relative;
    color: white;
    font-size: 18px;
    font-family:
      Century Gothic,
      CenturyGothic,
      AppleGothic,
      sans-serif;
    cursor: pointer;
  }
  .view-order-list {
    transition: 0.6s;
    overflow-y: scroll;
    padding: 0 15px 0 10px;
    width: 300px;
    background-color: #05315a;
    position: relative;
  }
}
.view-oreder-element {
  position: relative;
  z-index: 1000;
  margin-left: 25px;
  margin-bottom: 5px;
  max-width: 255px;
  margin-top: 5px;
  font-size: 16px;
}
.view-oreder-element.current {
  color: #3ce3e8;
}
.player-wraper {
  display: flex;
  align-items: center;
  flex-direction: column;
  .player,
  .player-placeholder {
    width: 1204px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #3ce3e8;
    border-right: 2px solid #3ce3e8;
    border-left: 1px solid #3ce3e8;
  }
}

.header-tab {
  border-radius: 3px 3px 0 0;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border: none;
  align-items: center;
}
.just-player {
  background-color: #3ce3e8;
  color: black;
  padding-top: 13px;
}
.player-chose-wraper,
.dub-chose-wraper {
  height: 47px;
}
.player-chose,
.dub-chose {
  height: 48px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background: rgba(6, 75, 140, 0.95);
  padding-left: 30px;
  border-bottom: 1px solid #3ce3e8;
  padding-right: 5px;
  z-index: 100;
  position: relative;
  cursor: pointer;
  .little-dievider {
    width: 2px;
    height: 29px;
    background-color: #05315a;
    margin-left: 40px;
  }
}
.player-options,
.dub-options {
  transition: height 0.6s;
  overflow: hidden;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.player-option,
.dub-option {
  width: 200px;
  height: 50px;
  background-color: rgba(6, 75, 140, 0.95);
  position: relative;
  z-index: 100;
  transition: 0.3s;
  color: white;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #3ce3e8;
  font-size: 18px;
  cursor: pointer;
}
.player-option:hover,
.dub-option:hover {
  background-color: #05315a;
}
.dub-name {
  max-width: 75px;
  font-size: 16px;
}
.title-header {
  background: rgba(6, 75, 140, 0.8);
  border-bottom: 2px solid var(--cyan-accent, #3ce3e8);
  border-radius: 3px 3px 0px 0px;
  display: inline-flex;
  gap: 15px;
  height: 50px;
  width: 1205px;
  align-items: center;
}
.episode-wraper {
  max-width: 1260px;
  flex-wrap: wrap;
  height: fit-content;
  max-height: 190px;
  overflow-y: scroll;
  margin-left: 15px;
  margin-right: auto;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  .episode {
    display: inline-flex;
    border-radius: 4px;
    background: #064b8c;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
  }
  .episode:hover {
    background-color: #3c87e8;
  }
  .episode.active {
    background: #3ce3e8;
    color: black;
  }
}

.comments-wraper {
  width: 1205px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comments-styles {
  display: flex;
  height: 50px;
  gap: 5px;
  background-color: #05315a;
  padding-top: 5px;
  width: 1205px;
  .style {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
.comment-input {
  width: 1205px;
  height: 150px;
  resize: none;
  background: #064b8c;
  color: white;
  border: none;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 15px;
}
.comment-input:focus {
  outline: none;
}
.comment-send {
  border: none;
  background-color: #3ce3e8;
  color: black;
  width: 250px;
  height: 50px;
  margin-left: 80%;
  font-size: 20px;
  margin-bottom: 60px;
  border-radius: 3px;
  transition: 0.5s;
}
.comment-send:hover {
  background-color: #3c87e8;
}
.devider-line-long {
  width: 1250px;
  height: 2px;
  background-color: #05315a;
  margin-bottom: 50px;
}
.comments {
  background-color: #05315a;
  display: flex;
  flex-direction: column;
  width: 1205px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 5px;
  .comment {
    width: 1160px;
    height: 150px;
    padding: 10px;
    background-color: #064b8c;
    display: flex;
    gap: 20px;
    .prof-pic {
      height: 100px;
      width: 75px;
    }
  }
}
.comment-content {
  width: 950px;
  height: 100%;
  .comment-name-date {
    font-size: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  .comment-text {
    font-size: 16px;
    max-height: 80px;
    overflow-y: scroll;
  }
}
.comment-devider {
  width: 2px;
  height: 130px;
  background-color: #4a4a4a;
}
.comment-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55px;
  .curr-rating {
    font-size: 20px;
  }
}
.comments .comment:nth-child(2n) {
  background-color: #05315a;
}
